ion-item {
  --transition: none; /* Prevent theme switch glitches */

  --background: var(--content-background);
}

.ion-palette-dark {
  ion-item {
    --background: var(--content-background-dark);
  }
}
