/* Core CSS required for Ionic components to work properly */
@import "@ionic/react/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/react/css/normalize.css";
@import "@ionic/react/css/structure.css";
@import "@ionic/react/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/react/css/padding.css";
@import "@ionic/react/css/float-elements.css";
@import "@ionic/react/css/text-alignment.css";
@import "@ionic/react/css/text-transformation.css";
@import "@ionic/react/css/flex-utils.css";
@import "@ionic/react/css/display.css";

@import "@ionic/react/css/palettes/dark.class.css";

/* OVERIDES */

/* APP */
@import "./overides/app/responsive.css";
@import "./overides/app/variables.css";
@import "./overides/app/theme.css";

/* COMPONENTS */
@import "./overides/components/card.css";
@import "./overides/components/item.css";
@import "./overides/components/item-divider.css";
@import "./overides/components/list.css";
@import "./overides/components/modal.css";
@import "./overides/components/refresher.css";
@import "./overides/components/space.css";

/* COLORS */
@import "./overides/colors/primary.css";
@import "./overides/colors/jw-blue.css";
@import "./overides/colors/jw-red.css";
@import "./overides/colors/jw-purple.css";
@import "./overides/colors/jw-brown.css";
@import "./overides/colors/jw-slate.css";
